<div class="container-fluid">
  <div class="row form-group">
        <h2 class="row mx-auto">Are you sure you want to delete?</h2>
        <form action="/dashboard/delete_unit" method ="POST"> <input type="hidden" name="unit_id" value=<%=@unit.id %>> <input type="submit" class="btn btn-danger mx-1" value="Delete"></form>
        <a class="form-group btn btn-primary row mx-1" href="/dashboard">Cancel</a>
  </div>

</div>
