<div class="container-fluid">
    <div class="row">
      <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="">Mercenary Units <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Contracts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Analytics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Export</a>
          </li>
        </ul>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link " href="">Create New Unit <span class="sr-only">(current)</span></a>
          </li>
        </ul>
        </nav>

      <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
        <h1>Dashboard</h1>

        <section class="row text-center placeholders">
            <div class="col-6 col-sm-3 my-auto placeholder">
                <h4>Current Balance: 857,625 $</h4>
              </div>
          <div class="col-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h4>Maintence</h4>
            <div class="text-muted">Monthly Maintence Needs</div>
          </div>
          <div class="col-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h4>Operating Expenses</h4>
            <span class="text-muted">Monthly Admin, Maintence, and other Needs</span>
          </div>
          <div class="col-6 col-sm-3 placeholder">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="200" height="200" class="img-fluid rounded-circle" alt="Generic placeholder thumbnail">
            <h4>Projected Revenue</h4>
            <span class="text-muted">Projected Revenue for current contract.</span>
          </div>
        
        </section>

        <h2>Section title</h2>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Unit Name </th>
                <th>Rating</th>
                <th>Money</th>
                <th>Size</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1,001</td>
                <td>Roy's Boys</td>
                <td>B</td>
                <td>500,000$</td>
                <td>Multi-Regiment</td>
              </tr>
              <tr>
                <td>1,002</td>
                <td>Ted's Toros</td>
                <td>F</td>
                <td>-50,000$</td>
                <td>Lance</td>
              </tr>
              <tr>
                <td>1,003</td>
                <td>LAMS Arise</td>
                <td>C</td>
                <td>890,000</td>
                <td>Company</td>
              </tr>
              <tr>
                <td>1,003</td>
                <td>Screaming Eagles</td>
                <td>B</td>
                <td>582,000</td>
                <td>Battalion</td>
              </tr>
              <tr>
                <td>1,004</td>
                <td>ACM's Revenge</td>
                <td>A*</td>
                <td>500,000,000$</td>
                <td>Army</td>
              </tr>
            </tbody>
          </table>
        </div>
      </main>
    </div>