        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h1>Stage 3: Procure Equipment and Hire Personal</h1>
          <p> Step 1: Buy all the Stuff!</p>

          <form action="/dashboard/stage4" method="GET">
            <div class ="form-groups">
                Cost of equipment purchased: <input type="text" name="equip_purch">
            </div>
            <div class ="form-groups">
                Number of Administrators needed: <input type="text" name="admin_people">
            </div>
            <div class ="form-groups">
                Number of Technicians needed: <input type="text" name="tech_people">
            </div>
            <div class ="form-groups">
                Rating of the Unit (An Integer): <input type="text" name="rating">
            </div>

            <input type="submit" class="btn btn-primary" value="Stage 4">
          </form>
         
           
          
           
           


          
         
         <!-- Due to the wizard not being finished, The above is being used instead
          <form>
            Equipment and Modifiers: <input type="text" name="Equipment and Modifiers"><br>  
          </form>
          <p></p>
          <p>Step 2: Acquire a Large Aircraft</p>
          <section class ="row text-center placehoolders">
           <select>
            <option value="1">Dropship</option>
            <option value="2">Jumpship</option>
            <option value="3">Warship</option>
            <option value="4">Space Station</option>
          </select>
          </section>
          <p>Step 3: Determine Special Abilities </p>
          <section class ="row text-center placehoolders">
           <form>
            Input Special Abilities: <input type="text" name="Abilities"><br>  
            </form>
          </section>          
         <section class = "row text-center placeholders">
          <div class= "col-20 col-sm-3 my-auto placeholder">
            <form action="stage4">
              <button type="submit">Stage 4 >></button>
            </form>
          </div>
        </section>
      -->
        </main>
