        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h1>Stage 3: Procure Equipment and Hire Personal</h1>
          <p> Step 1: Buy all the Stuff!</p>
          <form>
            Equipment and Modifiers: <input type="text" name="Equipment and Modifiers"><br>  
          </form>
          <p></p>
          <p>Step 2: Acquire a Large Aircraft</p>
          <section class ="row text-center placehoolders">
           <select>
            <option value="1">Dropship</option>
            <option value="2">Jumpship</option>
            <option value="3">Warship</option>
            <option value="4">Space Station</option>
          </select>
          </section>
          <p>Step 3: Determine Special Abilities </p>
          <section class ="row text-center placehoolders">
           <form>
            Input Special Abilities: <input type="text" name="Abilities"><br>  
            </form>
          </section>          
         <section class = "row text-center placeholders">
          <div class= "col-20 col-sm-3 my-auto placeholder">
            <form action="stage4">
              <button type="submit">Stage 4 >></button>
            </form>
          </div>
        </section>
        </main>
