        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h1>Stage 2: Select the Force Size</h1>
          <p> Your Budget will be shown below:</p>
             <section class ="row text-center placehoolders">
              <div class="col-6 col-sm-3 my-auto placeholder">
              <p>Budget:</p>
            </div>
          </section>
          <section class ="row text-center placehoolders">
             <div class="col-9 col-sm-3 my-auto placeholder">
             <form action="/dashboard/stage3">
              <button type="submit">Stage 3 >></button>
            </form>
          </section>
        </main>