        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h1>Stage 4: Operating Expenses</h1>
          <p> Step 1: Buy all the Stuff!</p>
          <form>
            Ammunition: <input type="text" name="Ammunition"><br>  
          </form>
          <form>
            Fuel:<input type="text" name="Fuel">
          </form>
         <section class = "row text-center placeholders">
          <div class= "col-20 col-sm-3 my-auto placeholder">
            <form action="/dashboard/index">
              <button type="submit"> Back to Dashboard >></button>
            </form>
          </div>
        </section>
        </main>
