<div class="container">

    <div class="headline">
        <h1>Tired of spending hours making your own Mercenary Unit?</h1>
        <h2 class="lead">Try out the Mecenary Creator web application today!</p>
            <a class="btn btn-warning" href="">Try for free!</a>
    </div>

    <div class="row">
        <!-- You no longer need to select a number of columns. If you just put 3 columns, bootstrap will auto size -->
        <div class="col-md">
            <h3>Players unsure how apply the rules?</h2>
                <p>With the Mercenary Creator all the possibiliites are right in front of you. You no longer need to look through
                    many pages of mulitple books to find the options your players want. Instead, it is right on the screen
                    with an easy to follow progression chart.
                </p>
                <a class="btn btn-warning" href="#">Live your Life (Path) to the fullest.</a>
        </div>
        <div class="col-md">
            <h3>Loosing track of money spent?</h3>
            <p>The Mercenary Creator web application will keep track of your budget, along with the other variables that always
                seem to crop up.
            </p>
            <a class="btn btn-warning" href="#">Let us do the math for you.</a>
        </div>
        <div class="col-md">
            <h3>Unsure what each option availible does?</h3>
            <p>With our mercenary creator, you can see what each option does to your mercenary unit in real time.
            </p>
            <a class="btn btn-warning" href="">See all the changes!</a>
        </div>
    </div>
    <!-- .row -->
    <div class="solution">
        <%= image_tag "CampaignOperations.jpg" %>
        <p>The Mercenary Creator is a web application that will allow the gamemaster or the players to log on and manage their
            mercenary units. The mercenary creator allows the GM or players to create their characters using the Mercenary
            Creation Rules found in the Campaign Operations rulebook. The web application will do all the math in the background
            as the players create their units. At the end, they will be able to make any tweaks based on their choices or
            what the GM wants.
        </p>
    </div>
    <div class="pricing">
        <p>
            The Mercenary Creator can be yours for just $5.99 per month. The web application will kepp all of your files ready to be
            accessed anywhere in the world.
        </p>
        <a class="btn btn-warning">Sign up Today!</a>
    </div>
</div>