<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Mercenary Creator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://bg.battletech.com">Official Battletech Site</a>
      </li>
    </ul>
    <a class="btn btn-outline-warning my-2 my-sm-0 mx-1" href="/users/sign_up">Register</a>
    <a class="btn btn-outline-success my-2 my-sm-0 mx-1" href="/users/sign_in">Sign In</a>
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "btn btn-outline-primary my-2 my-sm-0 mx-1" %>
  </div>
</nav>

<% if current_user %>

<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="">Mercenary Units <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Contracts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Analytics</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Export</a>
    </li>
  </ul>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link " href="">Create New Unit <span class="sr-only">(current)</span></a>
    </li>
  </ul>
  </nav>

<% end %>
